:host {
  /* display: block; */
  width: 160px;
  /* flex-shrink: 1; */
}

.sidebar {
  border-top: 1px dashed yellow;
  height: 100%;
  background: #1976d2;
}

nav {
  width: 100%;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px 5px;
}

li {
  color: #fff;
  font-weight: 700;
  padding: 15px 10px 15px 25px;
  border-radius: 10px;
  cursor: pointer;
  border: 1px solid yellowgreen;
  transition: 500ms;
}

li.selected {
  background-color: #0d3761;
  color: yellow;
}
